<div class="receive-pane pane" ng-controller="ReceivePaneCtrl">
    <div class="pane-close" ng-click="closePane()">
        <span>Close</span>
        <i class="icon icon-times-circle-thin"></i>
    </div>
    <div l10n="l10n" class="literal title">Receive Stellars</div>
    <form name="receiveForm" id="receiveForm" role="form" class="row-padding-small mode-form">
        <div class="row form-group">
            <label for="receive_username" class="col-sm-3 username-title">YOUR USERNAME</label>
            <div class="col-sm-6 receive-username">
                <i class="icon icon-user"></i>
                <span class="username">{{username}}</span>
            </div>
        </div>
        <div class="row form-group info-row">
            <div class="col-sm-12 receive-info">
                <span class="info">Give your username to other people so they can send you money.</span>
            </div>
        </div>
        <div class="row form-group show-address-row">
            <span class="show-address" ng-click="toggleAddress()">{{ showAddress ? 'Hide' : 'Show' }} your Stellar Address</span>
        </div>
        <div class="row form-group address-row" ng-show="showAddress">
            <label for="receive_address" class="col-sm-3 address-title">YOUR STELLAR ADDRESS</label>
            <div class="col-sm-6 receive-address" st-select-on-click target-id="currentAddress">
                <i class="glyphicon glyphicon-globe"></i>
                <span class="address" id="currentAddress">Master: {{currentAddress()}}</span>
                <span class="address" id="currentAddress">Anonymous: {{generatedAddress()}}</span>
            </div>
        </div>
    </form>
</div>
